.idea/
Modlunky2SteamDeck/bin/
Modlunky2SteamDeck/obj/
Modlunky2SteamDeck/compat.vdf
Modlunky2SteamDeck/shortcuts.vdf
Modlunky2SteamDeck/config.vdf
Modlunky2SteamDeck/configtest.vdf
Modlunky2SteamDeck/configdraft.vdf
